.title {
    text-align: center;
}

.table {
    width:100%;
    display: table;
}

.tablerow {
    display: table-row;
    height:100px;
}

.tablecell {
    width: 25%;
    display: table-cell;
    text-align: center;
}

.tableimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    display: table-cell;
    text-align: center;
}

.card {display:inline-block;}

.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
}

.parent {
    width: 100%;
}