{% load static %}

<link rel="stylesheet" href="{% static "style.css" %}">

<header>
    <h1 class='title'>Ye Olde Shoppe</h1>
</header>
<body>
    <div class="table">
        <div class="tablerow">
            <div class="tablecell">
                <img class="tableimage" src="{% static "bread.jpg"%}" alt="Great Value Bread"/>
                <h2>Bread</h2>
                <h5>$0.99</h5>
            </div>
            <div class="tablecell">
                <img class="tableimage" src="{% static "eggs.jpg"%}" alt="Great Value Eggs"/>
                <h2>Eggs</h2>
                <h5>$4.99</h5>
            </div>
            <div class="tablecell">
                <img class="tableimage" src="{% static "bacon.jpg"%}" alt="Daily's Bacon"/>
                <h2>Bacon</h2>
                <h5>$9.99</h5>
            </div>
            <div class="tablecell">
                <img class="tableimage" src="{% static "cheese.jpeg"%}" alt="Sargento Cheese"/>
                <h2>Cheese</h2>
                <h5>$2.99</h5>
            </div>
        </div>
    </div>
</body>
